.employee-table {
    thead {
        tr {
            th {
                background-color: #f0f3f5;
                font-weight: 600;
                border-bottom: 2px solid #ddd;
                vertical-align: middle;
            }
        }
    }
}